Hyper/*.obj filter=lfs diff=lfs merge=lfs -text
Hyper/*.mtl filter=lfs diff=lfs merge=lfs -text
Hyper/*.fbx filter=lfs diff=lfs merge=lfs -text
Hyper/*.gltf filter=lfs diff=lfs merge=lfs -text
Hyper/*.png filter=lfs diff=lfs merge=lfs -text
Hyper/*.jpg filter=lfs diff=lfs merge=lfs -text
Hyper/*.tiff filter=lfs diff=lfs merge=lfs -text
Hyper/*.ttf filter=lfs diff=lfs merge=lfs -text
Hyper/*.bin filter=lfs diff=lfs merge=lfs -text