[submodule "Hyper/dependencies/spdlog"]
	path = Hyper/dependencies/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Hyper/dependencies/magic_enum"]
	path = Hyper/dependencies/magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "Hyper/dependencies/glfw"]
	path = Hyper/dependencies/glfw
	url = git@github.com:SeppahBaws/glfw
	branch = 3.3-stable
[submodule "Hyper/dependencies/VulkanMemoryAllocator"]
	path = Hyper/dependencies/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Hyper/dependencies/glm"]
	path = Hyper/dependencies/glm
	url = git@github.com:g-truc/glm.git
[submodule "Hyper/dependencies/imgui"]
	path = Hyper/dependencies/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
