# IDE files and folders
.vs/
.idea/
*.sln
*.vcxproj*

# Build folders
bin/
bin-int/

# Don't exclude premake
!vendor/bin

# Log files
*.log

# Compiled shaders
Hyper/res/shaders/compiled/

# Nvidia Aftermath files
*.nv-gpudmp
*.nv-gpudmp.json
*.nvdbg
